body {
    background-color: #f6fad6;
}

header {
    height: 100px;
    background-color: #1b2d2a;
    /* display: flex;
    justify-content: space-between;
    align-items: center;    */
    overflow: hidden; 
    position: relative;
}

header img {
    height: 75px;
    width: 110px;
    margin: 0 0 0 10%;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: #1b2d2a;
    color: #e66000;
    font-size: 40px;
    margin: 0 10% 0 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;   
    position: fixed;
    z-index: 1;
    overflow: auto;
}

.nav--menu {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #1b2d2a;
    right: 0px;
    top: 100px;
    position: fixed;
    z-index: 1;
    height: 88%;
    overflow: auto;    
}

.hidden {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: #e66000;
}

.nav--link {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link--icone {
    margin: 0 10% 0 0;
}

.nav--item {
    width: 100%;
}

.nav--item i {
    margin-left: 10px;
}

.nav--submenu {
    background-color: #ffffff;
}

.nav--submenu li{
    padding: 10px 0;
    width: 100%;    
}

.menu--desktop {
    display: none;
}

.middle {

}

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.banner img {
    width: 100%;
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    transform: translateY(-10px);    
}

.teste2 {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.teste2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transform: translate(-27px, -5px);
}

.span {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8px;
    width: 8px;
    background-color: rgba(211, 211, 211, 0.6);
    border-radius: 50%;
}

.teste2:hover input ~ .span{
    background-color: rgb(59, 59, 59, 0.6);
}

.teste2 input:checked ~ .span{
    background-color: #e66000;
}

.middle--squares {
    background-color: #e66000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle--squares div {
    background-color: #1b2d2a;
    width: 80%;
    height: 60px; 
    margin: 2%;     
    }

.middle--squares div:first-child{
        margin-top: 4%;
}

.middle--squares div:last-child {
        margin-bottom: 4%;
}

.middle--squares div a {
    text-decoration: none;
    color: #e66000;
    height: 100%;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;   
}

.noticias {
    text-align: center;
    margin: 3% 0 3% 0;
}

.noticias h2 {
    color: #1b2d2a;
    font-size: 25px;
    border-bottom: 3px solid #e66000;
    width: 180px;
    margin: 2% auto;  
    padding: 0 0 7px 0;  
}

.noticias img {
    width: 80%;
}

.noticias figcaption {
    display: none;
}

.noticias h3 {
    font-weight: bold;
    font-size: 20px;
    color: #1b2d2a;
}

.carrossel--noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fa-angle-left, .fa-angle-right {
    font-size: 50px;
    position: absolute;
    opacity: 0.2;
}

.fa-angle-left {    
    right: 80%;
}

.fa-angle-right{    
    left: 80%;
}

.botoes--redondo {
    background-color: #1b2d2a;
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 0;
}

.botoes--redondo img {
    width: 35%;
}

.cima {
    margin: 8% 0 2% 0;
}

.baixo {
    margin: 2% 0 8% 0;
}

.parceiros {
    text-align: center;
    margin: 2% 0;
}

.parceiros h2 {
    color: #1b2d2a;
    font-size: 25px;
    border-bottom: 3px solid #e66000;
    width: 180px;
    margin: 2% auto;
    padding: 0 0 7px 0;
}

.parceiros .div--parceiros {
    width: 80%;
    height: 150px;
    background-color: #1b2d2a;
    margin: 15% auto;
}

footer {
    background-color: #1b2d2a;
    text-align: center;
    font-size: 14px;
}

footer p {
    color: #e66000;
    font-weight: bold;
    padding: 12px 0;
}

footer span {
    color: #e66000;
}

footer img {
    width: 30%;
    padding: 25px 0;
}